################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web Projects/RepVault
/Web Projects/RepVault/RepVault.csproj
