/*Start: Custom Properties*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root
{
    --ff-primary: 'Andada Pro', serif;
    --ff-secondary: 'source code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 9000;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fd-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
            0.125em 0.125em 0.25em rgba(0,0,0,.15);
} 

@media (min-width: 800px)
{
    :root
    {
        --fs-h1: 4.5rem;
        --fs-h2: 3.7rem;
        --fs-h3: 1.25rem;
        --fs-body: 1.125rem;
    }
}
/*End: Custom Properties*/

/* Start: General Properties*/
html
{
    scroll-behavior: smooth;
}
body
{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.5;
}

/*start nav */
.container
{
    width: 95%;
    height: auto;
}
.container-nav__img
{
    width: 150px;
    height: auto;
}
.container-nav__img img
{
    width: 100%;
    border-radius: 45%;
    background-color: transparent;
}
.container__content
{
    width: 100%;
    float: right;
}
.container__content--contents
{
    display: flex;
    float: right;
    padding: 5px;
    
}
.container__content--contents li
{
    justify-content: space-between;
    padding: 10px;
    list-style-type: none;
}
.container__content--contents li a:hover
{
    transition: all .3s ease-in-out;
    color: #16e0bd;
}
/*start: hamburger toggle */
.media_button 
{
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.media_button button.main_media_button 
{
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.media_button button.main_media_button span
{
    width: 98%;
    height: 1px;
    display: block;
    background-color: #fff;
    margin-top: 9px;
    margin-bottom: 10px;
}

.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #c0c0c0;
}

.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #c0c0c0;
}

.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #c0c0c0;
}

.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.media_button button.active span:nth-of-type(2) {
    display: none;
}

.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}
/*start: media inquire*/
/* Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .container{
        margin: 0;
    }
    
}




@media screen and (max-width:768px) 
{
    
    .container{
        margin: 1;
    }
    
    .container-nav__img{
        margin-left: 15px;
    }
    
    .container__content{
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
    }
    
    .container__content--contents{
        height: 200px;
    }
    
    .container__content ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .container__content ul li{
        width: 100%;
        height: 40px;
        background-color:rgba(0,0,255,0.8);
    }
    
    .nav div.main_list ul li a
    {
      text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .media_button{
        display: block;
    }
}
/*end: media inquire*/

/*end: hamburger toggle */
/*end nav */

img
{
    display: block;
    max-width: 100%;
}
strong 
{ 
    font-weight: var(--fw-bold);
    text-transform: uppercase;
}
:focus
{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}
section
{
    padding: 5em 2em;
} 

/*Start: Buttons */
.btn
{
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    
}
.btn:hover
{
    transform: scale(1.1);
}
/*End: Buttons */


/* Start: Styles content and typings */
h1, h2, h3
{
    line-height: 1.1;
    margin: 0;;
}

h1 {font-size: var(--fs-h1)}
h2 {font-size: var(--fs-h2)}
h3 {font-size: var(--fs-h3)}

.section__title
{
    margin-bottom: .25em;

}
.section__subtitle--intro
{
    font-weight: var(--fw-reg);
}
.section__subtitle--intro strong
{
    display: block;
}

.section__subtitle 
{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about
{
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}
.section__subtitle--work
{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}
/* End: Styles content and typings */
/* End: General Properties*/

/*Start: Header */
.nav
{
    height: 5rem;
    width: 100%;
    display: block;
    justify-content: flex-start;
    z-index: 10;
    font-weight: 200;
    transition: 0.2s ease-in-out;
    position: absolute;
}
.nav__list
{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-left: 55vh;
    margin-top: -49px;
    padding: 0vh 4vw;

}

.nav__link
{
    color: inherit;
    text-decoration: none;
    margin-right: 50px;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    line-height: 16px;
    font-weight: 700;
    transition: color 0.1, background-color 0.1s, padding 0.2s ease-in;
    color: #16e0bd;
}
.nav-toggle
{
    display: none;
}
.nav__link::before
{
    content: "";
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0,1);
    transition: color 0.1s, transform 0.2s ease-out;
}
.nav__link:active::before
{
    background-color: #000;
}
.nav__link:hover::before,
.nav__link:focus::before
{
    background-origin: left top;
    transform: scale(1,1);
}
.logo
{
    padding: 3vh 5vw;
    text-align: center;
    display: flex;
    align-items: center;
    color: rgb(22, 8, 8);
    width: 17rem;
}
.logolink
{
    border-radius: 50%;
}
.smalllogo
{
    display: none;
}
a
{
    text-decoration: none;
    color: #111;
}

@media(max-width)
{
    .nav
    {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.5, 0, 0, 0.5, 1);
        height: 100vh;
    }
    .nav__list
    {
        list-style: none;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        margin: 0;
        padding: 130px;
        background-color: #111;
        width: 100%;
    }
}
/*End: Header */


/*Start: Greeting notification */
.notification
{
    position: relative;
    display: inline-block;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    background-color: #141619;
    color: #16e0bd;
    box-shadow: 0 1px 10px;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade 4s linear forwards;
}
.notification p
{
    text-align: center;
}
.progress
{
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 100%;
    height: 3px;
    background-image: 
    linear-gradient(to right,
    #529bdb, #3250bf);
    border-radius: 4px;
    animation: progress 5s .35s
    linear forwards;
}
@keyframes fade
{
    5% 
    {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
    90%
    {
        opacity: 1;
        transform: translateY(0px);
    }
    95%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 0;
        transform: translateY(-30px);
    }
}
@keyframes progress
{
    to
    {
        width: calc(100% -10px);
    }
}
/*End: Greeting notification */


/*Start: Intro Section */
.intro 
{
    position: relative;
}
.intro__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) 
{
    .intro 
    {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img 
    {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }    
    
    .section__subtitle--intro 
    {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}
/*End: Intro Section */

/*start: Clock */
.clock
{
    font-family: system-ui;
    background: gray;
    color: black;
    position: relative; 
    width: 100%;    
    padding: 10 10px; 
    text-align: center;
}
/*End: Clock */

/* Start: My services */
.my-services
{
    background-color: var(--clr-dark);
    background-image: url("software3.png");
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}
.section__title--services
{
    color: var(--clr-accent);
    position: relative;
}
.section__title--services::after
{
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}
.services
{
    max-width: 500px;
    margin: 0 auto;
}
@media (min-width: 800px)
{
    .services
    {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .service + .service
    {
        margin-left: 2em;
    }
}
.services h3
{
    text-decoration: underline;
}
/* End: My services */


/* Start: About me */
.about-me
{
    max-width: 1000px;
    margin: 0 auto;
}
.about-me__img
{
    box-shadow: var(--bs);
}
@media (min-width: 600px)
{
    .about-me
    {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: /*Setting these properties here basically generalizes all my elements so that i can customize them later in my code. And it makes it easier to access them later */
            "title img"
            "subtitle img"
            "text img";
        column-gap: 2em;
    }
    .section__title--about
    {
        grid-area: title;
    }
    .section__subtitle--about
    {
        grid-column: 1/ -1;
        grid-row: 2;
        position: relative;
        left: -2em;
        width: calc(100% + 2em);
        padding-left: 2em;
        padding-right: calc(200px + 6em);
    }
    .about-me__img
    {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}
/* End: About me */

/* Start: development model */
.dev-process p
{
    align-items: center;
    text-align: center;
    background-color: var(--clr-accent);
}
.dev-process__pic
{
    width: 100%;
}
/* End: development model */


/* Start: My Work */
.my-work
{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}
.portfolio
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.portfolio__item
{
    background: var(--clr-accent);
    overflow: hidden;
}
.portfolio-item-individual
{
    text-align: center;
    padding: 5em;
    margin: auto;
    background: var(--clr-accent);
}
.portfolio-item-individual h1
{
    text-transform: uppercase;
    text-decoration: underline;
}
.portfolio-item-individual__img
{
    height: 600px;
}
.portfolio__img
{
    width: 100%;
    height: 650px;
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear; 
}
.portfolio__item:focus
{
    position: relative;
    z-index: 2;
}
.portfolio__img:hover,
.portfolio__item:focus .portfolio__img
{
    transform: scale(1.2);
    opacity: .10;
}
.portfolio h3
{
    text-overflow: clip;
}
/* End: My Work */

/* Start: Footer */
.footer
{
    padding: 70px 0 0;
    background-color: rgb(30, 30, 30);
    box-sizing: border-box;
    width: 100%;
    font-size: 1em;
}
.footer .footer-cont
{
    max-width: 1170px;
    margin: auto;
}
.footer .footer-pages li
{
    list-style-type: none;
}
.footer .footer-row
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: rgb(225, 225, 225, 1);
}
.footer .footer-row > div:nth-child(1)
{
    width: 40%;
} 
.footer .footer-row > div
{
    width: 30%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
}
.footer .footer-row li:hover
{
    transform: translateX(0);
}
.footer .footer-row ul a
{
    text-decoration: none;
    color: rgb(225, 225, 225, .8);
    margin-left: 15px;
}
.footer .footer-row .socialButton
{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    width: fit-content;
    margin-top: 20px;
}
.footer .footer-row .socialButton i
{
    font-size: 20px;
    text-decoration: none;
    color: rgb(225, 225, 225);
    transition: .3s;
    opacity: .5;
    transform: translateY(0);
}
.footer .footer-row .socialButton i:hover
{
    opacity: 1;
    transform: translateY(-5px);
}
.footer .copyright
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    height: 50px;
    background-color: rgb(30, 30, 30);
    color: rgb(225, 225, 225, .8);
    font-size: .8em;
}

/*Start: Responsive part of footer */
@media only screen and (max-width: 1170px)
{
    .footer .footer-row > div
    {
        width: 50% !important;
        margin-bottom: 30px;

    }

@media only screen and (max-width: 574px)
    { 
       .footer .footer-row > div
       {
           width: 100% !important;
       }
    }
}
/*End: Responsive part of footer */

/* End: Footer */
.mode 
{
    float:right;
}
.change 
{
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}
.dark
{
    background-color: #222;
    color: #e6e6e6;
}

.resume-visit
{
    text-align: center;
    position: relative;
}
.resume-visit h3
{
    background: white;
}
/*this is for resume page*/

.objective h2
{
    text-decoration: underline;
}
.objective p
{
    text-align: center;
}

h3
{
    position: relative;
    top: .75rem;
    display: inline-block;
    padding: 0 0.4rem;
}
.line
{
    border-bottom: 2px solid black;
}

hr 
{
    border: 1px solid red;
}


